html{
    height: 100px;
}

body {
    background-color: 	#D8BFD8;
    font-family: sans-serif;
    color: #000;
    margin: 0;
}

.title {
    padding: 0 20;
    font-size: 2em;
    text-transform: uppercase;
    margin: 40px 20px;
    color: #8B008B
}

.title2 {
    padding: 0 20;
    font-size: 1.50em;
    margin: 40px 20px;
    color: #C71585
}

.title3 {
    padding: 0 20;
    font-size: 1em;
    margin: 40px 20px;
    color: #C71585;
}

.margin-horizontal-20px {
    margin-left: 20px;
    margin-right: 20px;
}